<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ИС_Абитериент.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ИС_Абитериент.Properties.Settings>
            <setting name="ColorElements" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorForm" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorTetxt" serializeAs="String">
                <value />
            </setting>
            <setting name="Language" serializeAs="String">
                <value />
            </setting>
            <setting name="FontEn" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorElementsEn" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorFormEn" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorTetxtEn" serializeAs="String">
                <value />
            </setting>
            <setting name="Image1" serializeAs="String">
                <value />
            </setting>
        </ИС_Абитериент.Properties.Settings>
    </userSettings>
</configuration>